<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!--&lt;!&ndash;    包扫描：只要类中标注了@Controller、@Service、@Repository、@Component，该类实例都会被自动扫描，并加进容器&ndash;&gt;-->
<!--    <context:component-scan base-package="com.flyer"></context:component-scan>-->
    
    <bean id="person" class="com.flyer.bean.Person">
        <property name="age" value="18"></property>
        <property name="name" value="zhangsan"></property>
    </bean>

</beans>